body {
    margin: 1em;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace,Arial, sans-serif;
    font-size: 15px;
    background-image: url("gfx/bild.png");
}

main {
    margin: 0 auto;
    max-width: 800px;
}

footer {
    position: fixed;
    bottom: 10px;
    background-color: transparent;
    font-size: 14px;
}

div {
    padding: 1em;
    text-align: center;
    font-size: 1.3em;
    border-style: solid;
    background-color: rgb(255, 255, 255);
}

p {
    padding-top: 1em;
    text-align: center;
    font-size: 1.3em;
}

ul {
    padding: 1em;
    text-align: center;
    font-size: 1.3em;
    background-color: white;
    list-style: none;
}

li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

h1, h2 {
    text-align: center;
    color: rgba(0, 0, 0, 0.733);
    text-decoration: none;
}

a {
    color: rgba(0, 0, 0, 0.733);
}

nav {
    border-color: rgba(0, 0, 0, 0.733);
    border-style: solid;
    background-color: white;
    margin-top: 10px;
}

article {
    color: rgba(0, 0, 0, 0.733);
    text-align: center;
    display: none;
}

article:target {
    display: block;
}

img {
    margin-top: 6px;
    margin-right: 10px;
    margin-left: 10px;
    max-width: 100%;
    height: auto;
}

#Stammdaten {
    white-space: pre-line;
    display: block;
}

#Profilbild {
    border-radius: 20%;
}

#IMPRESSUM {
text-decoration: none;
font-size: 20px;
}

/* Media Query für Tablets (z.B. iPads) */
@media (max-width: 768px) {
    h2 {
        margin-top: 20px; /* Erhöht den oberen Abstand für Tablets */
    }
}

/* Media Query für Handys (z.B. iPhones) */
@media (max-width: 480px) {
    h2 {
        margin-top: 10px; /* Erhöht den oberen Abstand für Handys */
    }
    ul {
        padding: 0; /* Entfernt den Abstand in der Liste für Handys */
    }
    li {
        display: block; /* Ändert die Anzeige der Liste auf block für Handys */
        padding: 5px 0; /* Fügt vertikalen Abstand hinzu */
    }
}

/* Media Query für große Bildschirme (z. B. Desktops) */
@media (min-width: 1200px) {
    main {
        max-width: 1200px; /* Erhöht die maximale Breite des Inhalts für große Bildschirme */
    }
}
