/* Setzt die Schriftgröße der Navigation auf 20 Pixel */
nav {
    font-size: 20px;
    text-align: center;
}
 
 
 /* Setzt das Artikel-Element als flexbox, damit die Paragraphen darin automatisch umbrechen, wenn der Bildschirm breiter wird */
 article {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
 }
 
 p{
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    flex-basis: 100%; /* Verwende die gesamte Breite des Artikel-Elements, bis das Media Query greift */
    margin: 10px;
    padding: 20px;
    text-align: center;
 }
 
 /* Wenn der Bildschirm breiter als 600 Pixel ist, wird die Breite jedes Absatzes auf 50% gesetzt */
 @media (min-width: 600px) {
    p {
        flex-basis: 50%;
    }
 }
 
 /* Wenn der Bildschirm breiter als 900 Pixel ist, wird die Breite jedes Absatzes auf 33,33% gesetzt */
 @media (min-width: 900px) {
    p {
        flex-basis: 33%;
    }
 }
 
 /* Wenn der Bildschirm breiter als 1200 Pixel ist, wird die maximale Breite des Artikel-Elements auf 100% gesetzt */
 @media (min-width: 1200px) {
    article {
        max-width: 100%;
    }
 }