body {
    margin: 1em;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: rgba(75, 126, 255, 0.225);
    background-image: url("gfx/bild.png");
}

main {
    border: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 54em;
}

div{
    padding: 2em;
    text-align: center;
    font-size: 1.3em;
    border-style: solid;
    background-color: rgb(255, 255, 255);
}
p {
    padding-top: 1em;
    text-align: center;
    font-size: 1.3em;

}

a:link {
    text-decoration: none;
}

ul {
    padding: 1em;
    text-align: center;
    font-size: 1.3em;
    background-color: white;
}

li {
    display: inline-block;
    margin-right: 40px;
    margin-left: 40px;
}

h1 {
    text-align: center;
    color: rgba(0, 0, 0, 0.733);
    text-decoration: none;
}

h2 {
    text-align: center;
    color: rgba(0, 0, 0, 0.733);
    text-decoration: underline;
    margin-top: 70px;
}

a {
    color: rgba(0, 0, 0, 0.733);
}

nav {
    border-color: rgba(0, 0, 0, 0.733);
    border-style: solid;
    background-color: white;
    margin-top: 100px;
}

article {
    color: rgba(0, 0, 0, 0.733);
    text-align: center;
}

table {
    background-color: white;
    border-color: black;
    border-style: solid;
    text-align: left;
    font-size: 1.3em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}