    body {
        font-family: Helvetica, Arial, sans-serif; font-size: 1em;
        background-color: #000000; width: 80%;
        margin-left: auto; margin-right: auto;
        background-image: url(gfx/bild.png);
    }
  
    main {
        max-width: 100%;
        padding: 10px 10px;
        box-sizing: border-box;
        margin-top: 10%;}

   #inhalt, #fragebox, #antwortA, #antwortB, #antwortC {
        background-color: #ffffff;
        padding: 17px; color: #000000;
        border: 2px solid rgba(0, 0, 255, 0.824);
        border-radius: 15px;
        box-sizing: border-box;
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.265);
    }

    #inhalt {
        text-align: center;
    }

    td  {
        width: 28em;
    
    }
    
    hr {
        width: 90%; color: red;
    }

    #fnum {
        font-size: 1.2em; color: black;
    }  
    #fragebox {
        margin-top: 10px; top: 190px;
        font-weight: bold;
    }
    #antwortA {
        margin-top: 10px; top: 260px;
    
    }
    #antwortB {
        margin-top: 10px; top: 330px;
    
    }
    #antwortC {
        margin-top: 10px; top: 400px;
    
    }
    #dasBild {
        margin-top: 10px; border: 0px solid red;
    
    }
    #cpr {
        margin-left: 10%; font-size: 0.8em; color: rgb(102, 0, 255); padding-top: 20px; padding-bottom: 20px;
    
    }
    #pnkt, #zeit {
        margin-left: 20%; font-size: 2em; color: black;
    
    }
    
    #bild1 {
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.265);
        border: 3px solid rgb(0, 0, 170);
        background-color: transparent;
    }