body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(gfx/Bundesliga_BIld\(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    text-align: center;
    padding: 20px;
}

nav {
    text-align: center;
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    transition: color 0.3s;
}

nav a:hover {
    color: lightblue;
}

main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.612);
    margin-top: 10px;
    margin-left: 300px;
    margin-right: 400px;
    margin-bottom: 20px;
    border: 0px solid rgb(0, 0, 0);
    padding-bottom: 30px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: rgb(255, 255, 255);
}

td, table {
    text-align: center;
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: rgb(255, 255, 255);    
}

#Verein{
    text-align: left;
}

ul{
    border: 1px solid black;
    padding-bottom: 20px;
    background-color: white;
    vertical-align: top;
    text-align: left;
}

h1{
    color: rgb(255, 255, 255);
}

article
{
    overflow-x: auto;
}