body {
  font-family: Helvetica, Arial, sans-serif; font-size: 1em;
  color: black; background-color: #ffffff;
  }
a:link {color: #0077ee;font-weight: bold;}
h1 {margin-left: 3em; color: #ff0000;}
img {width:100%;}
body {margin: 10;padding: 10px;}
        
          a:visited {color: #ff0000;}
          h1 {margin-left:6em;color:#000000;}
          main { border:0px; margin-left: auto; margin-right: auto; width:60em; background-color:#ffffff;} 
          .rot {color:red}
          hr {color:blue; width:55em;}
          table {border-collapse: separate; border-spacing: .7em 1em; }
		  img.klein {width:18.8em;}
		  img.vor {width: 29.4em;}
		  img.dorsch {width: 28em;}

        .container {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
          grid-gap: 10px;
          padding: 10px;
          max-width: 1200;
          margin: 0 auto;
        }
      .box {
        background-color: #eaeaea;
        padding: 10px;
        text-align: left;
        font-size: 1em;
        }
        .footer {
          background-color: #ffffff;
          padding: 10px;
          text-align: left;
          font-size: 2em;
          max-width: 500px;
        }